html
  head
    title Processing error
    link(rel="stylesheet" type="text/css" href="public/style.css")
  body
    h1.page-title Processing error
    .error-description
      | An unexpected error ocurred while processing your request.
      | Please try something different or come back at a later time.
    .error-footnote
      | Note that making the same request will probably result in the same error
