body {
  background: #e2e2e2;
}

.page-title {
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
}

.form-section {
  display: block;
  margin: 30px 40px;
}

.form-section.form-section--footer {
  text-align: center;
}

.form-submit {
  background-color: #318722;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5em;
  margin: 10px 0;
  outline: none;
  padding: 12px 60px;
  text-align: center:
  text-transform: uppercase;
}

.small-label {
  display: block;
  font-size: .8em;
  font-weight: 600;
}

.inline-input {
  display: inline-block;
}

.inline-input.inline-input--small {
  box-sizing: border-box;
  padding-right: 20px;
  width: 20%;
}

.inline-input.inline-input--medium {
  box-sizing: border-box;
  padding: 0 20px;
  width: 40%;
}

.inline-input.inline-input--medium:last-child {
  padding-right: 0;
}

.url-input {
  border: 1px solid black;
  border-radius: 4px;
  font-size: 1.5em;
  padding: 12px 20px;
  width: 100%;
}

.url-label {
  margin-left: 20px;
}

.form-select {
  background: white;
  border: 1px solid black;
  border-radius: 4px;
  color: #282828;
  display: inline-block;
  font-size: 1.5em;
  outline: none;
  padding: 12px;
  width: 100%;
}
.select-label {
  margin-left: 20px;
}

.number-input {
  border: 1px solid black;
  border-radius: 4px;
  font-size: 1.5em;
  padding: 12px 20px;
  width: 100%;
}

.number-label {
  margin-left: 20px;
}

.error-description {
  background: #ed5565;
  border-left: 6px solid #9d3545;
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding: 16px 30px;
}

.error-footnote {
  font-style: italic;
  font-weight: bold;
  margin-left: 35px;
  margin-top: 15px;
}

.results-title {
  text-align: center;
  text-transform: uppercase;
}

.value {
  color: gray;
  font-size: 2em;
  text-align: right;
}

.heading {
  font-weight: 700;
  margin-bottom: 12px;
  padding-top: 15px;
  text-align: left;
  text-transform: uppercase;
}

.data-block {
  background: white;
  border: 1px solid black;
  display: inline-block;
  margin: 20px;
  min-width: 300px;
  padding: 30px;
  padding-top: 8px;
}

.data-panel {
  text-align: center
}

.data-block-title {
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}
