body {
  background: #e2e2e2;
}

.page-title {
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
}

.form-section {
  display: block;
  margin: 30px 40px;
}

.form-section.form-section--footer {
  text-align: center;
}

.form-submit {
  background-color: #318722;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5em;
  margin: 10px 0;
  outline: none;
  padding: 12px 60px;
  text-align: center:
  text-transform: uppercase;
}

.small-label {
  display: block;
  font-size: .8em;
  font-weight: 600;
}

.inline-input {
  display: inline-block;
}

.inline-input.inline-input--small {
  width: 20%;
}

.inline-input.inline-input--medium {
  width: 40%;
}
